h1 {
    text-align: center;
  }
  
  #itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  .item {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .item img {
    width: 100%;
    height: auto;
  }
  
  .itemName {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .itemPrice {
    margin-top: 5px;
  }
  
  .itemDiscountPrice {
    margin-top: 5px;
    color: red;
  }
  